.mbti1 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.mbti2 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 24px;
  line-height: 28px;
}

.mbti3 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 16px;
  line-height: 22px;
}

.mbti4 {
  font-weight: 600;
  font-size: 12px;
  line-height: 22px;
}

.mbti5 {
  font-weight: 600;
  font-size: 16px;
}

.mbti6 {
  line-height: 24px !important;
  font-weight: 400;
  font-size: 15px;
}

.mbti7 {
  line-height: 20px !important;
  font-weight: 400;
  font-size: 15px;
}

.mbti8 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.mbti9 {
  font-family: 'Gilroy-ExtraBold';
  font-size: 24px;
  font-weight: 800;
  line-height: 24px;
  vertical-align: bottom;
}

.mbti10 {
  font-size: 14px;
  font-weight: 600;
  line-height: 22px;
}

.mbti11 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}

.mbti12 {
  font-weight: 500;
  font-size: 16px;
}

.mbti13 {
  font-size: 32px;
  font-weight: 700;
  font-family: 'Times New Roman';
}

.mbti14 {
  font-size: 18px;
  font-weight: 600;
}

.mbti15 {
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
}

.mbti16 {
  font-weight: 600;
  font-size: 16px;
  color: #666666;
  line-height: 22px;
}

.mbti17 {
  font-weight: 300;
  font-size: 28px;
  line-height: 40px;
}

.mbti18 {
  line-height: 40px;
}

.mbti19 {
  font-weight: 300;
  font-size: 26px;
  line-height: 40px;
}

.mbti20 {
  font-weight: 600;
  font-size: 20px;
  line-height: 42px;
}

.mbti21 {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
}

.mbti22 {
  font-family: 'Times New Roman';
  font-weight: 700;
  font-size: 32px;
  line-height: 37px;
}

.mbti23 {
  font-size: 20px;
  font-weight: 600;
}

.mbti24 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.mbti25 {
  font-weight: 400;
  font-size: 12px;
  color: #999999 !important;
  line-height: 16px;
}

.mbti26 {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.mbti27 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 15px;
  line-height: 32px;
}

.mbti28 {

  font-weight: 400;
  font-size: 15px;
  line-height: 32px;
}

.mbti29 {
  font-weight: 600;
  font-size: 18px;
}

.mbti30 {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.mbti31 {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.mbti32 {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
  color: #666666 !important;
}

.mbti33 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;
}

.mbti34 {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
}

.mbti35 {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 18px;

}

.mbti36 {
  font-weight: 300;
  font-size: 18px;
}

.mbti37 {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
  color: #666666 !important;
}

.mbti38 {
  font-weight: 500;
  font-size: 20px;
  line-height: 28px;
}


.mbti39 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 24px;
  line-height: 24px;

}

.mbti40 {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}




.mbti41 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 28px;
  line-height: 34px;
}

.mbti42 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 12px;
  line-height: 16px;
}

.mbti43 {
  font-weight: 400;
  font-size: 14px;
}

.mbti44 {
  font-weight: 600;
  font-size: 14px;
  color: #FFFFFF !important;
}

.mbti45 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
}


.mbti46 {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 20px;
  line-height: 24px;
}

.mbti47 {
  font-weight: 400;
  font-size: 16px;
  color: #FFFFFF !important;
}


.mbti48 {
  font-weight: 400;
  font-size: 14px;
  color: #AAAAAA !important;
}

.mbti49 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.mbti50 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 32px;
  line-height: 46px;
}


.mbti51 {
  font-weight: 400;
  font-size: 15px;
  color: #666666 !important;
  line-height: 28px;
}

.mbti52 {
  font-size: 18px;
  font-weight: 500;
  color: #E3685B !important;
}

.mbti53 {
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  color: #666666 !important;
}



.mbti54 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 20px;
  line-height: 24px;
}

.mbti55 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 18px;
}

.mbti56 {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #999999 !important;
}

.mbti57 {
  font-weight: 600;
  font-size: 22px;
  line-height: 30px;
}

.mbti58 {
  font-weight: 500;
  font-size: 12px;
  color: #FFFFFF !important;
}

.mbti59 {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 12px;
  line-height: 24px;
}

.mbti60 {
  font-size: 14px;
}

.mbti61 {
  font-size: 12px;
  color: #999999 !important;
  line-height: 16px;
  font-weight: 400;
}


.mbti62 {

  font-weight: 600;
  font-size: 16px;
}

.mbti63 {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
}

.mbti64 {
  font-size: 24px;
  font-weight: 700;
  font-family: 'Times New Roman';
}

.mbti65 {
  font-weight: 600;
  font-size: 14px;
  line-height: 28px;
}

.mbti66 {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.mbti67 {
  font-weight: 600;
  font-size: 14px;
  line-height: 20px;
}

.mbti68 {
  font-family: 'Gilroy-Light';
  font-weight: 300;
  font-size: 12px;
  line-height: 14px;
}

.mbti69 {
  font-weight: 400;
  font-size: 15px;
  line-height: 28px;
}

.mbti70 {
  font-size: 14px;
  line-height: 20px;
}

.mbti71 {
  font-weight: 600;
  font-size: 18px;
  line-height: 25px;
}

.mbti72 {
  font-weight: 600;
  font-size: 12px;
  line-height: 17px;
  color: #999999 !important;
}

.mbti73 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
}

.mbti74 {
  font-weight: 600;
  font-size: 24px;
  line-height: 34px;
}

.mbti75 {
  font-weight: 600;
  font-size: 12px;
  color: #999999 !important;
  line-height: 17px;
}


.mbti76 {
  font-weight: 800;
  font-size: 24px;
  line-height: 34px;
  font-family: 'Gilroy-ExtraBold';
}

.mbti77 {
  font-size: 12px;
  color: #999999 !important;
  line-height: 17px;
}


.mbti78 {
  font-size: 24px;
  color: #333333;
  line-height: 34px;
}


.mbti79 {
  font-family: 'Gilroy-ExtraBold';
  font-weight: 800;
  font-size: 14px;
  line-height: 18px;
}

.mbti80 {
  font-weight: 300;
  font-size: 12px;
  color: #999999 !important;
  line-height: 18px;
}

.mbti81 {
  font-weight: 400;
  font-size: 12px;
  color: #999999 !important;
  line-height: 18px;
}

.mbti82 {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
}

.mbti83 {
  font-weight: 400;
  font-size: 14px;
  color: #999999 !important;
  line-height: 20px;
}

.mbti83 {
  font-weight: 400;
  font-size: 12px;
  color: #999999 !important;
  line-height: 16px;
}

.num {
  font-family: PingFang SC;
}